@model CreateCarRequestModel

<div class="row mt-5">
    <div class="col-3 p-3 bg-gray text-center">
        <h1 class="display-4 mb-0 font-weight-normal">
            23%
        </h1>

        <div class="text-uppercase font-weight-bold">
            new cars
        </div>
    </div>

    <div class="col-3 bg-gray p-3 ml-auto d-flex flex-row align-items-center">
        <div class="col-6 ">
            TODO: Pie Chart
        </div>

        <div class="col-6 ">
            <ul class="list-unstyled mb-0">
                <li>50% - black</li>
                <li>30% - red</li>
                <li>20% - green</li>
            </ul>
        </div>
    </div>

    <div class="col-3 bg-gray p-3 ml-auto text-center">
        <h1 class="display-4 mb-0 font-weight-normal">
            $1475
        </h1>

        <div class="text-uppercase font-weight-bold">
            average price
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 p-0">
        <form asp-action="Create" id="car-form">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>

            <div class="form-row">
                <div class="form-group col-md-3 p-0 m-0">
                    <select asp-for="Condition"
                            class="form-control border-2 bg-gray-light rounded-0"
                            asp-items="Html.GetEnumSelectList<CarCondition>()">
                        <option selected="selected"
                                hidden disabled
                                value="">
                            CONDITION
                        </option>
                    </select>

                    <span asp-validation-for="Condition"
                          class="text-danger">
                    </span>
                </div>

                <div class="form-group col-md-3 p-0 m-0">
                    <select asp-for="Colour"
                            class="form-control border-2 bg-gray-light rounded-0"
                            asp-items="Html.GetEnumSelectList<CarColour>()">
                        <option selected="selected"
                                hidden
                                disabled
                                value="">
                            COLOUR
                        </option>
                    </select>

                    <span asp-validation-for="Colour"
                          class="text-danger">
                    </span>
                </div>

                <div class="form-group col-md-3 p-0 m-0">
                    <input asp-for="Price"
                           type="number"
                           min="0"
                           class="form-control border-2 bg-gray-light rounded-0"
                           id="inputAddress2"
                           placeholder="PRICE">

                    <span asp-validation-for="Price"
                          class="text-danger">
                    </span>
                </div>

                <div class="form-group col-md-3 p-0 m-0">
                    <input id="submit-car-form" type="submit"
                           value="Add"
                           class="btn rounded-0 btn-block btn-orange text-uppercase font-weight-bold" />
                </div>
            </div>
        </form>
    </div>
</div>

<section id="user-cars">
</section>

@section Scripts {
    <script type="text/javascript">
        function getUserCarsList() {
            $(document).ready(function () {
                $.ajax({
                    url: '/Cars/List',
                    data: {},
                    type: 'GET',
                    success: function (result) {
                        $('#user-cars').html(result);
                    }
                })
            });
        }

        $("#submit-car-form").click(function (e) {
            e.preventDefault();

            var formData = $("#car-form").serialize();

            $.ajax({
                url: "/Cars/Create",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: formData,
                complete: function (data) {
                    getUserCarsList();
                }
            });
        });

        getUserCarsList();
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}