@model SignUpUserRequestModel

<div class="row">
    <div class="mx-auto col-6 mt-5">
        <h1 class="text-center text-uppercase mt-5">TEST APP</h1>
        <form asp-action="SignUp" class="mt-5"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Email" class="form-control mt-4 input-field bg-gray rounded-0" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control mt-4 input-field bg-gray rounded-0" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control mt-4 input-field bg-gray rounded-0" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit"
                       value="Sign Up"
                       class="btn
                              btn-xl
                              btn-block
                              rounded-0
                              mt-5
                              text-uppercase
                              font-weight-bold
                              btn-orange" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
