@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {  
        <li class="nav-item">
            <form class="form-inline"
                  asp-area=""
                  asp-controller="Identity"
                  asp-action="SignOut"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit"
                        class="nav-link
                               btn
                               btn-link
                               text-light
                               text-uppercase
                               font-weight-bold">
                    Sign Out
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link
                      text-light
                      text-uppercase
                      font-weight-bold"
               asp-area=""
               asp-controller="Identity"
               asp-action="SignUp">
                Sign Up
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link
                      text-light
                      text-uppercase
                      font-weight-bold"
               asp-area=""
               asp-controller="Identity"
               asp-action="SignIn">
                Sign In
            </a>
        </li>
    }
</ul>